<%- include('header'); -%>

<header>
  <div>
    <img src="/auth.gif" alt="">
  </div>
  <div>
    <h2>JWT Authentication System</h2>
    <a href="/users" class="btn">Users</a>
    <a href="/staffs" class="btn">Staffs</a>
    <a href="/managers" class="btn">Manager</a>
    <a href="/admin" class="btn">Admin</a>
  </div>
</header>


<%- include('footer'); -%>