<%- include('header'); -%>

<nav>
    <h1><a href="/">User Authentication</a></h1>
</nav>


<ul class="listmain">
  <li class="list">
    <img src="/user.png" alt="user">
    <h4>Victor Onoja</h4>
  </li>
  <li class="list">
    <img src="/user.png" alt="user">
    <h4>John Doe</h4>
  </li>
  <li class="list">
    <img src="/user.png" alt="user">
    <h4>Jane Doe</h4>
  </li>
  <li class="list">
    <img src="/user.png" alt="user">
    <h4>Richard Miles</h4>
  </li>
  <li class="list">
    <img src="/user.png" alt="user">
    <h4>John Stiles</h4>
  </li>
  <li class="list">
    <img src="/user.png" alt="user">
    <h4>Mary Major</h4>
  </li>
</ul>

<%- include('footer'); -%>